$color-neutral-white: #FFFFFF;
$color-neutral-light-3: #F9F9F9;
$color-neutral-dark-3: #B9B9B9;
$color-neutral-dark-2: #707070;
$color-primary-darker: #0F4C81;
$color-red-3: #FF3B3B;
$color-red-5: #FFCDD4;
$color-green-2: #6BA539;
$color-green-5: #DEEFC9;
$color-orange-2: #FCA300;
$color-orange-5: #FFF4DE;